.profile-intro__text-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    border: 4px;
    margin-top: 0;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

@media all and (max-width:425px) {
    .profile-intro__text-subtitle {
        font-size: 14px;
    }
}