.header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    margin-bottom: 41px;
    padding-bottom: 40px;
    max-width: 1280px;
    width: 70%;
    border-bottom: solid 1px rgba(84, 84, 84, 1);

}

@media all and (max-width:530px) {
    .header {
        width: 100%;
        margin-bottom: 42px;
    }
}